$eggplant: #0c000a;
$magenta: #ff00ff;
$cyan: #00ffff;
$spearmint: #001d7c9c;
$white: #ffffff;
$gray: #999999;

@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}

.headline {
  font-size: xxx-large;
  color: $gray;
  padding: 1em;
}

.shop {
  font-size: xx-large;
  text-align: center;
  padding-top: 1em;
  background-color: $eggplant;
  color: $gray;
}

#merch-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70vw;
  margin: 0px auto;
  @include mobile-only {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.shirt {
  background-color: $gray;
  color: $spearmint;
  border: 2px solid #e7e7e7;
  margin: 14px;
  border-radius: 4px;

  padding: 0.5rem;
}

.shirt img {
  max-width: 100%;
  height: auto;
}
